h2 {
    margin-bottom: 0%;
}

h3 {
    text-align: center;
}

.header {
    background-color: darkblue;
    color:rgb(231, 223, 223);
    padding-left: 2%;
}

.container3 {
    background-color: rgba(109, 136, 218, 0.722);
    /* Display Flex */
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 20px;
}

.content {
    padding-left: 2%;
    font-size: 14px;
}

.footer {
    font-size: 130%;
    grid-area: ft;
    background-color: rgb(173, 173, 173);
    padding-left: 1%;
}